@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #ffd60a;
  --accent1-color: #003566;
  --accent2-color: #ffc300;
  --background-color: #000814;

  --heading-font: "Roboto", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #001d3d;
  --nav-link-color: #ffc300;
  --nav-hover-link-color: #83c5be;
  --nav-hover-background-color: #006d77;
}

body {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
  max-width: 960px;
  padding: 20px;
  background: var(--background-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-weight: 300;
}

.round {
  border-radius: 50%;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

nav a {
   display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


p {
  font-family: var(--paragraph-font);
  padding: 25px;
}

/* Class Selectors */

.hero {
  background-image: url("/wwr/images/hero.jpg");
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  float: right;
  width: auto;
  height: 100px;
  padding: 5px;
  opacity: 0.5;
}

.hero article img:hover {
  opacity: 1;
}

.home-action {
  display: block;
  position: relative;
  /*  background: rgba(255, 255, 255, 0.15);
*/
  width: 100%;
  height: auto;
}

.home-action:before {
  content: "";
  display: block;
  opacity: 0.25;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-action img {
  width: 50%;
  height: auto;
  opacity: 0.25;
}

.home-action div {
  content: "";
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*  Week 4 CSS Updates  */

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-family: Acme, Arial, sans-serif;
}

nav {
  text-align: right;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  flex: 1 1 100%;
}

.navigation a {
  display: block;
  color: rgb(94, 128, 0);
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: tomato;
  font-weight: 700;
  text-decoration: underline;
}

.adventure {
  display: grid;
}

.adventureImages {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.signup-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.signup-item {
  display: flex;
  flex-direction: column;
}

.signup-item label {
  margin-bottom: 5px;
}

.signup-item input {
  width: 100%;
}

.subscribe-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.subscribe-item {
  display: flex;
  flex-direction: column;
}

.subscribe-item label {
  margin-bottom: 5px;
}

.subscribe-item input {
  width: 100%;
}

.company-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.company-item {
  display: flex;
  flex-direction: column;
}

.lhs {
  color: lightblue;
}

.rhs {
  color: lightgreen;
}

.employee-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .employee-item {
    display: flex;
    flex-direction: column;
  }

  .employee-item picture img {
        border-radius: 50%;
  }
  /*   CALL TO ACTION */

  .action {
    display: flex;
    color: white;
    background-color: #18625D;
  }

  .card-container {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #001d3d;
    opacity: 0.95;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

.card img {
  
}
  
.card-container title {
    color: grey;
    font-size: 18px;
  }
  
  .card-container button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card-container a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .card-container button:hover, a:hover {
    opacity: 0.7;
  }

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */

/* Add some padding inside the card container */
.card-body {
  padding: 2px 16px;
} 