@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color:#006d77;
    --secondary-color:#83c5be;
    --accent1-color:#e09f3e;
    --accent2-color:#9e2a2b;
    --background-color:#540b0e;
    
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #540b0e;
    --nav-link-color:#9e2a2b;
    --nav-hover-link-color:#83c5be;
    --nav-hover-background-color:#006d77;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding:20px;
    background: var(--background-color0);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: 300;
}

p {
    font-family: var(--paragraph-font);
    padding:25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size:1.2rem;
    display:flex;
}

nav a {
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}